{{ define "main" }}
{{ $bgimage := resources.Get "/images/background.webp" }} 
<section class="section container-fluid mt-n3 pb-3" style="background-image: url('{{$bgimage.RelPermalink | absURL }}'); background-size: 100vmin; background-repeat: no-repeat; background-position: top right;">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="docs/about/why/" role="button">Documentation</a>
      <p class="meta">Environmental Studies Program [<a href="https://github.com/Augie-Environmental-Studies">GitHub</a>]</p>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Prairie Restoration Garden</h2>
        <p>Right by the Archaeology Lab.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">The Beehives 🐝</h2>
        <p>Wonderful bees.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">The Campus Orchard</h2>
        <p>The Campus Orchard with juicy apples.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">The Organic Vegetable Garden</h2>
        <p>Berries and vegetables.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">The Meditative Labryinth</h2>
        <p>North of the Administration Building.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">The Plot</h2>
        <p>West of Lookout House.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
